body {
  font-family: "Roboto", sans-serif;
}


.navbar-brand h2 {
  font-family: 'Roboto', sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image: url(../img/GettyImages-1221548295-2048x1365.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

/* Acerca de mi */

#Sobre-mi   {
  background-color: rgba(58, 172, 192, 0.795);
}


/* Mis trabajos */

#Mis-trabajos {
  background-image: url(../img/GettyImages-1221548295-2048x1365-mich-juger.jpg);
  background-repeat: no-repeat;
  height: 100vh;
}

#custom-carousel {
  box-shadow: 0 0 30px #81817d;
}

/* Contacto */

