body {
  font-family: "Raleway", sans-serif;
}

.navbar-brand h2 {
  font-family: 'Roboto', sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image: url(../img/GettyImages-1221548295-2048x1365.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}


.row i  {
  color: teal;
}



/* Mis trabajos */

#Mis-trabajos {
  background-color: rgb(92, 169, 169);
}

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

/* Contacto */

.formulario {
  background-color: aliceblue;
}

