body {
  font-family: 'Playfair Display', serif;

}

#navbcolor {
  background-color: #8b9091;
}

/* Hero Section */

#Hero-Section {
  background-image: url(../img/GettyImages-1221548295-2048x1365.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

/* Acerca de mi */

#Sobre-mi   {
  background-color: white;
  min-height: 100vh;
}

#Sobre-mi .img-fluid  {
  max-width: 70%;      
}

@media (max-width: 992px ) {
  #Sobre-mi .img-fluid  {
    max-width: 85%;
    margin-bottom: 40px;      
  }
}

@media (max-width: 768px ) {
  #Sobre-mi .img-fluid  {
    max-width: 100%;     
    margin-bottom: 40px;  
  }
}


/* Mis trabajos */

#Mis-trabajos {
  background-image: url(../img/GettyImages-1221548295-2048x1365-mich-juger.jpg);
  background-repeat: no-repeat;
  height: 100vh;
}

#custom-carousel {
  box-shadow: 0 0 30px #81817d;
}


#Sobre-mi .accordion-item {
  border-radius: 20px 20px 40px 40px;
  font-family: 'Roboto', sans-serif;  

}

.panel-borde {
  display: block;
  padding: 14px 50px 14px 30px;
  font-size: 16px;
  color: #0d787c;
  background: #1d9296;
  position: relative;
  border-radius: 20px 20px 20px 20px; 
}
/* Contacto */

.trabajo-colaborativo {
  background-color: rgba(0, 0, 0, 0.767);
}

